{% extends "base.html" %} {% block content %}


<h2 id="title"></h2>
<button id="btn1">Kliknij</button>
<input placeholder="Podaj imię" id="field1">

<h1 class="test">Tenerife Weather</h1>

<div class="row">
  {% for document in weather_documents %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="weather-card d-flex justify-content-between mb-3">
      <div>
        <p class="fs-4">{{document["desc"]}}</p>
        <p class="text-warning">{{document["timestamp"]}}</p>
        <p>Humidity: {{document["humidity"]}}</p>
        <p>Pressure: {{document["pressure"]}}</p>
      </div>
      <div>
        <p class="fs-4">Temperatures</p>
        <p>Average: {{document["temp"]}}°C</p>
        <p>Maximum: {{document["temp_max"]}}°C</p>
        <p>Minimum: {{document["temp_min"]}}°C</p>
      </div>
    </div>
  </div>

  {%endfor%}
</div>

{% endblock %}
